<div class="container-fluid" style="padding:0;">

  <nav class="navbar navbar-expand-lg navbar-custom fixed-top" style="background-image: var(--bs-gradient);">
    <div class="container">
      <a class="navbar-brand"  routerLink="/app-root/login" >CryptoSurge</a>
<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" -->
<!--              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto"  *ngIf="showMenu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/app-root/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/app-root/login" (click)="logout()">Log off</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/app-root/reports">Reports</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <!--class="custom-control-input"-->
  <div class="container-lg" id="appComponent">

    <router-outlet></router-outlet>
    <!--&lt;!&ndash;      Login is the only option that will load a child component &ndash;&gt;
    <ng-container *ngIf="currentComponent.value == 'login'">
      <login


      ></login>
&lt;!&ndash;      (linkToParent)="switchComponent($event)"&ndash;&gt;
&lt;!&ndash;      [router]="router"&ndash;&gt;
&lt;!&ndash;      [controller]="controller">&ndash;&gt;
      &lt;!&ndash;          <ng-template dynamicChildLoader="{{currentComponent.value}}"></ng-template>&ndash;&gt;
    </ng-container>

    &lt;!&ndash; Method 3 &ndash;&gt;
    &lt;!&ndash; No new components - Just a frame that changes data according to selection &ndash;&gt;

    <ng-container *ngIf="currentComponent.value == 'create_account'">
      <create-account></create-account>
    </ng-container>

    <ng-container *ngIf="currentComponent.value == 'dashboard'">
      <dashboard

      ></dashboard>
    </ng-container>-->

  </div>

</div>



